/* --------- General ---------------------------------------- */

select{
    width:100%;
    height:35px;
}

/*  --------- Elements -------------------------------------- */

.mainContainer{
    margin:10px auto 0px auto;
    border :solid #0B81FF 1px;
    width:70%;
    height:520px;

    background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 100px 100px white inset;
}

#formContainer{
    margin:10px;
    padding:22px;

    width: 370px;
    height:500px;

    border-radius:5px;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(156, 156, 156);
}

#btnSave{
    display:block;
    width:150px;
    height: 40px;
    margin:10px auto;
    box-shadow: 1px 1px 6px rgb(156, 156, 156);
    cursor:pointer;
}

#logo{
    text-align: center;
    background-color: rgb(228, 228, 228);
    color:rgb(64, 74, 212);
    text-shadow: 2px 2px 8px rgb(167, 167, 167);
    padding-bottom:5px;
    cursor:pointer;
}

#etoile{
    color:rgb(146, 146, 146);
    position:absolute;
    bottom:0;
}

#pays{
margin-top:10px;
}

#messageCourriel{
    display: inline;
    color:red;
}

#message{
    display: inline;
    color:red;
}

#message2{
    display: inline;
    color:red;
}

#messageChamps{
    display: inline;
    color:red;
}

#messageAge{
    display: inline;
    color:red;
}

#messageNomServer{
    margin-left:-15px;
    display: inline;
    color:red;
}

.alert {
    margin-top: 5%;
}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #E3F2FD;
}

input[type="text"], input[type="number"], #genre, option[value="*"] {
    background-color: snow;
}

.custom-select::hover {
    background-color: #0B81FF;
}


@media only screen and (max-width: 1000px){

    .mainContainer{
        margin:10px auto 0px auto;

        height:500px;

        border:none;
        background-image: none;
        border-radius: 5px;
        box-shadow: 0px 0px 0px rgb(156, 156, 156);
    }

    #formContainer{
        margin:10px auto 0px auto;
        padding:22px;

        height:520px;
        width:300px;

        border: none;
        border-radius:5px;
        background-color: white;
        box-shadow: 3px 3px 6px rgb(156, 156, 156);
    }

    #btnSave{
        display:block;
        width:150px;
        height: 40px;
        margin:10px auto;
        box-shadow: 1px 1px 6px rgb(156, 156, 156);
        cursor:pointer;
    }
    #etoile{
        color:rgb(146, 146, 146);
        position:absolute;
        bottom:-15px;
    }

}


