/* --------- General ---------------------------------------- */

select{
    width:100%;
    height:35px;
}

/*  --------- Elements -------------------------------------- */

.mainContainer{
    margin:10px auto 90px auto;
    border :solid #0B81FF 1px;
    width:70%;
    height:cover;

    background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 100px 100px white inset;
}

#formContainer{
    margin:10px;
    padding:22px;

    width: 370px;
    height:cover;

    border-radius:5px;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(156, 156, 156);
}

#btnSave{
    display:block;
    width:150px;
    height: 40px;
    margin:10px auto;
    box-shadow: 1px 1px 6px rgb(156, 156, 156);
    cursor:pointer;
}

#etoile{
    color:rgb(146, 146, 146);
    position:absolute;
    bottom:0;
}

#pays{
margin-top:10px;
}

#message{
    display: inline;
    color:red;
}

#message2{
    display: inline;
    color:red;
}

#messageNom{
    color:red;
}
#messageNomServer{
    color:red;
}

#messageRole{
    color:red;
}

#messagePhoto{
    color:red;
}

@media only screen and (max-width: 1000px){

    .mainContainer{
        margin:10px auto 90px auto;

        height:cover;
       

        border:none;
        background-image: none;
        border-radius: 5px;
        box-shadow: 0px 0px 0px rgb(156, 156, 156);
    }

    #btnSave{
        display:block;
        width:150px;
        height: 40px;
        margin:10px auto;
        box-shadow: 1px 1px 6px rgb(156, 156, 156);
        cursor:pointer;
    }
    #etoile{
        color:rgb(146, 146, 146);
        position:absolute;
        bottom:-15px;
    }
}


