/* --------- General ---------------------------------------- */

body{
    
    margin: 0px;

    box-sizing: border-box;
}

/* --------- Nav ---------------------------------------- */

.navbar-nav > li > .dropdown-menu a:hover {
    
    background-color: #0B81FF;
    
    color: white;
}

.dropdown-menu.show {
    
    background-color: snow;
}

    /* Le code CSS suivant a permis à la création d'un sous-menu de la nav Bootstrap
        Le code source a été modifié au besoin pour l'adapter au contexte et du résultat voulu.
        Solution trouvée sur le site StackOverFlow à l'adresse suivante:
        Source: "https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation" */


.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(0deg);
	position: absolute;
	left: 90px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
}

#navbarDropdownSubMenuLink {
	box-sizing: border-box;
}

    /* Fin de citation */


#Sign {
    
    font-size: 1.1em;
    font-weight: bold;

    margin-top: -2px;
}

/* --------- Footer ---------------------------------------- */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;

    z-index: 10;

    margin: 0px;
    padding: 5px;

    text-align: center;

    background-color: #e3f2fd;
    color: #0B81FF;
}
@media only screen and (min-width: 576px){

    /*  --------- Général -------------------------------------- */

	/* Le code CSS suivant a permis à la création d'un sous-menu de la nav Bootstrap
    	Le code source a été modifié au besoin pour l'adapter au contexte et du résultat voulu.
    	Solution trouvée sur le site StackOverFlow à l'adresse suivante:
        Source: "https://stackoverflow.com/questions/44467377/bootstrap-4-multilevel-dropdown-inside-navigation" */

	.dropdown-menu {
		left: -190%!important;
	}

	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu a::after {
		transform: rotate(-270deg);
		position: absolute;
		left: .2rem;
		top: .8em;
	}

	.dropdown-submenu .dropdown-menu {
		top: 0;
		left: 50%;
		margin-left: 14.4rem;
		margin-right: .1rem;
	}

	/* Fin de citation */

}