/* --------- General ---------------------------------------- */

.mainContainer{
    background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100%;
}

/* --------- Menu ---------------------------------------- */


.backgrounded {
    display: inline-block;

    font-size: 1em;
    line-height: 1.5;
    user-select: none;
    color: #007bff;

    border-radius: .25rem;
    border: 1px solid #007bff;

    padding: .375rem .75rem;

    background-color: snow;
}

.backgrounded:hover {
    background-color: #e3f2fd;
}

.clickable {
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.links {
    display: inline-block;
    text-decoration: none;
    color: #007bff;

    line-height: 1rem;
}

.links:hover {
    text-decoration: none;
}

/* --------- Media Query ---------------------------------------- */

@media only screen and (min-width: 576px){

    /* --------- General ---------------------------------------- */

    .mainContainer{
        background-image: none;
    }

    /* --------- Menu ---------------------------------------- */

    .backgrounded {
        height: 275px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        border: 2px solid #007bff;
    }

    .backgrounded:hover {
        box-shadow: 8px 8px 15px black;
        border: 1px solid black;
    }

    .links {
        color: white;
        font-size: 1.6em;
        line-height: 2rem;
    }

    .links:hover {
        color: white;
        text-shadow: 2px 2px 10px white;
    }

    /*  --------- Images et Hovers -------------------------------------- */

    #album {
        background-image: url("assets/Album.jpg");

        margin-bottom: 60px!important;
    }

    #album:hover {
        background-image: url("assets/Album_hover.jpg");
    }

    #artiste {
        background-image: url("assets/Artiste.jpg");
    }

    #artiste:hover {
        background-image: url("assets/Artiste_hover.jpg");
    }

    #oeuvre {
        background-image: url("assets/Oeuvre.jpg");
    }

    #oeuvre:hover {
        background-image: url("assets/Oeuvre_hover.jpg");
    }

    #listeAlbums {
        background-image: url("assets/ListeAlbum.jpg");
    }

    #listeAlbums:hover {
        background-image: url("assets/ListeAlbum_hover.jpg");
    }

    #utilisateur {
        background-image: url("assets/Utilisateur.jpg");
    }

    #utilisateur:hover {
        background-image: url("assets/Utilisateur_hover.jpg");
    }

    #emprunt {
        background-image: url("assets/Emprunt.jpg");
    }

    #emprunt:hover {
        background-image: url("assets/Emprunt_hover.jpg");
    }
}