/* --------- General ---------------------------------------- */

select{
    width:100%;
    height:35px;
}

th{
    text-align:center;
    background-color:rgba(211, 211, 211, 0.568);
    border:solid black 1px;
}
td{
    background-color: #e3f2fd;
    border:solid black 1px;
    margin-top:10px;
    padding:5px;
}

table{
    width:100%;
    border-radius:19px;
}

form{
    width:70%;
    margin:0 auto;
}



/*  --------- Elements -------------------------------------- */
#corps{
    height:cover;
}


#rendreOeuvre{
    text-align:center;
    margin-top:40px;
}



.mainContainer{
    margin:10px auto 60px auto;
    padding-bottom:50px;
    border :solid #0B81FF 1px;
    width:70%;
    height:cover;

    background-image: url("../assets/Background.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 100px 100px white inset;
}

.ContainerContenu{
    margin:10px;
    padding:22px;
    padding-bottom:100px;

    width: 80%;
    height:cover;

    border-radius:5px;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(156, 156, 156);
}

#btnSave{
    margin:0 auto;
}


.dropdown-submenu .dropdown-menu {
    margin-left: 11.5rem;
}


@media only screen and (max-width: 1000px){

    #corps{
        height:cover;
    }

    .mainContainer{
        margin:10px auto 0px auto;

        height:1000px;

        border:none;
        background-image: none;
        border-radius: 5px;
        box-shadow: 0px 0px 0px rgb(156, 156, 156);
    }

    .ContainerContenu{
        margin:10px;
        padding:22px;
        padding-bottom:100px;
    
        width: 80%;
        height:cover;
    
        border-radius:5px;
        background-color: white;
        box-shadow: 3px 3px 6px rgb(156, 156, 156);
    }

    #btnSave{
        display:block;
        width:150px;
        height: 40px;
        margin:10px auto;
        box-shadow: 1px 1px 6px rgb(156, 156, 156);
        cursor:pointer;
    }
    #etoile{
        color:rgb(146, 146, 146);
        position:absolute;
        bottom:-15px;
    }

	.dropdown-submenu .dropdown-menu {
		margin-left: 11.5rem;
	}
}


