body{
    
    margin: 0px;

    box-sizing: border-box;
}

.titrePrincipale{
    
    width: 60%;
    
    margin: 20px auto 5px auto;
    
    text-align: center;
    text-shadow: 1px 1px 9px rgb(194, 194, 194);;
    
    border-radius: 5px;
}


.erreur{
    font-size: small;
}

.mainContainer{
    margin:10px;

    height:860px;
}

#formContainer{
    margin:10px;
    padding:22px;
    height: 755px;
    border-radius:5px;
    border: solid #0B81FF 1px;
    box-shadow: 3px 3px 6px rgb(156, 156, 156);
}

.inputForm{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputForm:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

#btnSave{
    display:block;
    width:150px;
    height: 40px;
    margin:10px auto;
    box-shadow: 1px 1px 6px rgb(156, 156, 156);
    cursor:pointer;
}

.reponseOeuvre{
    text-align: center;
}

#albumFakeCover {
    background-image: url("/assets/Album.png");
    background-repeat: no-repeat;
    background-size: 175px, 175px, auto;
    background-position: center;

    height: 175px;
    
    padding: 10px;
}

@media only screen and (min-width: 768px){

    .mainContainer{
        
        margin-top: 10px;
        margin-bottom: 50px;
        
        height: 860px;
        
        border-radius: 5px;
    }

    #backgroundedContainer{

        background-image: url("/assets/Background.jpg");
        background-size: cover;
        box-shadow: 0 0 100px 100px white inset;
        border: 1px solid #0B81FF;
        border-radius: 10px;
    }

    #formContainer{
        
        margin: 50px 10px 10px 10px;
        padding: 25px;
        
        height: 710px;
        
        border: none;
        border-radius:5px;
        background-color: white;
        box-shadow: 3px 3px 6px rgb(156, 156, 156);
    }
}