/*  --------- Général -------------------------------------- */

.container-fluid {

    margin-bottom: 100px;
}

/*  --------- Media Query -------------------------------------- */

@media only screen and (min-width: 768px){

    /*  --------- Général -------------------------------------- */

    #backgroundedContainer{

        padding-bottom: 100px;
        padding-top: 100px;

        background-image: url("/assets/Background.jpg");
        background-size: cover;
        box-shadow: 0 0 100px 100px white inset;

        border-top: 1px solid #0B81FF;
        border-bottom: 1px solid #0B81FF;
    }

    .alert-primary {

        opacity: 0.85;
    }
}