/*  --------- Général -------------------------------------- */

.mainContainer{
    
    margin-top: 10px;
    
    height: 750px;
}

/*  --------- Formulaire -------------------------------------- */

#formContainer{
    
    margin: 10px;
    padding: 25px;
    
    height: 510px;
    
    border: solid #0B81FF 1px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 6px rgb(156, 156, 156);
}

.custom-file {

    margin: 0px 15px 15px 15px;
}

#btnSave{
    
    display: block;
    
    width: 150px;
    height: 40px;
    
    margin: 30px auto;
    
    box-shadow: 1px 1px 6px rgb(156, 156, 156);
    
    cursor: pointer;
}

input[type="text"]:hover, input[type="number"]:hover {
    
    background-color: #E3F2FD;
}

input[type="text"], input[type="number"], #genre, option[value="*"] {
    
    background-color: snow;
}

/*  --------- Modale de confirmation -------------------------------------- */

#albumFakeCover {
    background-image: url("/assets/Album.png");
    background-repeat: no-repeat;
    background-size: 175px, 175px, auto;
    background-position: center;

    height: 175px;
    
    padding: 10px;
}

#btnOk {
    
    display: block;
    
    width: 150px;
    height: 40px;
    
    margin: 0 auto;
    
    box-shadow: 1px 1px 6px rgb(156, 156, 156);
    
    cursor: pointer;
}

/*  --------- Media Query -------------------------------------- */

@media only screen and (min-width: 768px){

    /*  --------- Général -------------------------------------- */

    .mainContainer{
        
        margin-top: 10px;
        margin-bottom: 100px;
        
        height: 575px;
        
        border-radius: 5px;
    }

    #backgroundedContainer{

        background-image: url("/assets/Background.jpg");
        background-size: cover;
        box-shadow: 0 0 100px 100px white inset;
        border: 1px solid #0B81FF;
        border-radius: 10px;
    }

    /*  --------- Formulaire -------------------------------------- */

    #formContainer{
        
        margin: 100px 10px 10px 10px;
        padding: 25px;
        
        height: 360px;
        
        border: none;
        border-radius:5px;
        background-color: white;
        box-shadow: 3px 3px 6px rgb(156, 156, 156);
    }
    
    .custom-file {
        margin-left: 15px;
    }

    /*  --------- Modale de confirmation -------------------------------------- */

    #albumFakeCover {
    
        height: 175px;
        
        padding: 10px;
    }

    #btnOk {
        margin: 0 auto;
    }
}